@page
@model Gorepo.Pages.Order.DetailsModel

@{
    ViewData["Title"] = "订单明细";
}

<h1>订单明细</h1>

<div>
    <h4>@Model.HWZWeChatOrder.OrderId</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            订单号
        </dt>
        <dd class="col-sm-10">
            @Model.HWZWeChatOrder.OrderId
        </dd>
        <dt class="col-sm-2">
            订单金额
        </dt>
        <dd class="col-sm-10">
            @Model.HWZWeChatOrder.OrderAmount.ToString("F2")
        </dd>
        <dt class="col-sm-2">
            支付码
        </dt>
        <dd class="col-sm-10">
            @Model.HWZWeChatOrder.OrderCode
        </dd>
        <dt class="col-sm-2">
            是否支付
        </dt>
        <dd class="col-sm-10">
            <input @(Model.HWZWeChatOrder.IsOrderPay ? "checked=\"checked\"" : "") class="check-box" disabled="disabled" type="checkbox" />
        </dd>
        <dt class="col-sm-2">
            创建时间
        </dt>
        <dd class="col-sm-10">
            @DateTimeOffset.FromUnixTimeMilliseconds(Model.HWZWeChatOrder.CreateTime).LocalDateTime
        </dd>
        <dt class="col-sm-2">
            更新时间
        </dt>
        <dd class="col-sm-10">
            @DateTimeOffset.FromUnixTimeMilliseconds(Model.HWZWeChatOrder.UpdateTime).LocalDateTime
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
