@page
@model Gorepo.Pages.Order.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HWZWeChatOrder[0].OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HWZWeChatOrder[0].OrderAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HWZWeChatOrder[0].OrderCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HWZWeChatOrder[0].IsOrderPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HWZWeChatOrder[0].CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HWZWeChatOrder[0].UpdateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HWZWeChatOrder) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOrderPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
